<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app.config.title }}</title>
    {{ publishCss() }}
</head>
<body>
    <div class="container">
        <div class="alert alert-info">
            {% if app.user %}
                Добро пожаловать, {{ app.user.firstName }}!
                <a href="/user/logout/" class="text-muted"> (Выйти)</a>
                {% if app.user.isAdmin or app.user.isModerator %}
                    <br>
                    Вы {{ app.user.getRoleTitles[0] }} сайта
                    <a href="/admin/" class="text-muted"> (Админ-панель)</a>
                {% endif %}
            {% else %}
                Добро пожаловать, Гость!
                <br>
                <a href="/user/login/" class="text-muted">(Войти на сайт)</a> |
                <a href="/user/register/" class="text-muted">(Зарегистрироваться)</a>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
    {{ publishJs() }}
</body>
</html>