{% extends 'Admin.html' %}

{% block content %}
    <h2>Админ-панель</h2>
    <h4>На данный момент для администрирования Вам доступны следующие объекты:</h4>
    <div class="list-group">
        {% if app.user.isAdmin %}
            <a href="#" class="list-group-item">Пользователи</a>
            <a href="#" class="list-group-item">Роли пользователей</a>
            <a href="/adminPost/" class="list-group-item">Посты</a>
            <a href="/adminComment/" class="list-group-item">Комментарии к постам</a>
        {% elseif app.user.isModerator %}
            <a href="/adminComment/" class="list-group-item">Комментарии к постам</a>
        {% endif %}
    </div>
{% endblock %}